<%# ユーザー詳細画面とトップページの部分テンプレート %>
<div class="card">
    <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id), method: :get %>
    <div class="card__body">
      <%= link_to prototype.title, prototype_path(prototype.id), method: :get, class: :card__title%>
      <p class="card__summary">
        <%= prototype.catch_copy %>
      </p>
      <%# 名前をクリックするとユーザー詳細ページへ %>
      <%= link_to "by #{prototype.user.name}" , "/users/#{prototype.user.id}", method: :get , class: :card__user %>
    </div>
</div>