<%# トップページ %>
<main class="main">
  <div class="inner">
    <%# ユーザーがログインしていたら表示 %>
    <% if user_signed_in? %>
      <div class="greeting">
        <%# 名前をクリックするとユーザー詳細ページへ遷移 %>
        こんにちは、
        <%= link_to current_user.name , "/users/#{current_user.id}", method: :get, class: :greeting__link%>
        さん
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'prototype' , collection: @prototypes %>
    </div>
  </div>
</main>
